<div class="col-sm-3 offset-sm-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>The blog posts here are an example of a blog you could have on your website. My blog posts are about upcomming projects and social media deals I have going on. Check them out and take advantage of some awesome deals!</p>
    </div>

    <%= source_helper("alert alert-info blog-sidebar-source") %>

    <div class="sidebar-module sidebar-module-inset">
        <h4>Topics</h4>
        <% @side_bar_topics.each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %></p>
        <% end %>
    </div>

    <div class="sidebar-module sidebar-links sidebar-module-inset">
        <h4>Archives</h4> 
        <ol class="list-unstyled">
        </ol>
    </div>

    <div class="sidebar-module social-links sidebar-links sidebar-module-inset">
        <h4>Lets connect on Social  Media!</h4>
        <ol class="list-unstyled">
            <li><a href="#"><%= fa_icon "github" %></a></li>
            <li><a href="#"><%= fa_icon "instagram" %></a></li>
            <li><a href="#"><%= fa_icon "facebook" %></a></li>
            <li><a href="#"><%= fa_icon "twitter" %></a></li>
        </ol>
    </div>
</div>
