<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Oswald&display=swap" rel="stylesheet">
    
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicons/portfavicon.ico' %>
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.8.0.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="Keywords" content="<%= @seo_keywords %>" />
  </head>

  <body>
    <div>
      <%= render 'shared/portfolio_nav' %>
    </div>
    <div>
      <%= render 'shared/blog_masthead' %>
    </div>
    <%= image_tag 'goldbg.png', class: 'parabackground' %> 
    <div class="container"> 
      <div class="row">
    
        <%= yield %>
    
        <%= render 'shared/blog_sidebar' %>
      </div> 
    </div>
    <div>
    if logged_in?(:site_admin) || @blog.published?
      @blog = Blog.includes(:comments).friendly.find(params[:id])
      @comments = Comment.new
      
      <%= render 'shared/blog_footer' %>
      
      <%= alerts %>
    </div>
  </body>
</html>